.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
}

.menuItem {
    color: var(--gray-900);
    background: var(--primary);
    border: 1px solid transparent;
    border-radius: 0.6rem;
    padding: 1rem;
    transition: all 0.15s ease-in-out;
}

.menuItem svg {
    width: 24px;
    height: 24px;
}

.menuItem:hover {
    filter: brightness(80%)
}